html,
body,
div,
span,
p,
header,
section,
ul,
li,
a {
  padding: 0;
  margin: 0 auto;
}
html,
body {
  font-family: "微软雅黑" !important;
  height: 100%;
  width: 100%;
}
header {
  display: block;
  height: 90px;
  background: #00a0ea;
}
header .auth-logo {
  position: relative;
  height: 90px;
  line-height: 90px;
  color: #ffffff;
  font-size: 16px;
}
header .auth-logo:before {
  position: absolute;
  content: "";
  border-right: 2px solid #ffffff;
  height: 24px;
  top: 34px;
  left: 66px;
}
header .auth-logo img {
  cursor: pointer;
}
header .auth-logo .auth-title {
  margin-left: 20px;
}
header .auth-nav {
  height: 90px;
  line-height: 90px;
  font-size: 16px;
}
header .auth-nav ul {
  list-style: none;
}
header .auth-nav ul li {
  position: relative;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
header .auth-nav ul li a {
  color: #ffffff;
}
header .auth-nav ul li a:hover {
  text-decoration: none;
}
header .auth-nav ul li:hover ul {
  display: block;
}
header .auth-nav ul li ul {
  display: none;
  position: absolute;
  top: 60px;
  right: -30px;
  width: 130px;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  background: #000000;
}
header .auth-nav ul li ul:before {
  position: absolute;
  content: "";
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #000000;
  top: -11px;
  left: 55px;
}
header .auth-nav ul li ul li {
  display: block;
  line-height: 36px;
  width: 100%;
  margin-left: 0px;
  color: #ffffff;
  text-align: center;
}
header .auth-nav ul li ul li:hover {
  background: #009de6;
}
section {
  margin-top: 20px;
}
#History_example th {
  text-align: center;
}
#History_example td {
  text-align: center;
}
